.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h3{
    margin-bottom: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
   
}

.formulario input{
    width: 250px;
    height: 20px;
    margin: 20px 10px;
    text-align: center;
    font-weight: bold;
    outline: 0;
    border: none;
    font-size: 15px;
}

.formulario input:hover{
    transition: .1s;
    border-bottom: 2px solid orangered;
    
}

.formulario input:focus{
    border-bottom: 2px solid orangered;
    transform: scale(1.1);    
}

.formulario label{
    font-size: 20px;
}

.formulario button{
    margin-top: 20px;
    background: none;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.formulario button:hover{
    background-color: orangered;
    transition: .4s;
}