*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< projeto-portifolio
    border-bottom: 1px solid orangered;
=======
    background: rgba(246, 246, 248, 0.8);
    position: sticky;
    top: 0;
}

.menu-mobile{
    display: none;
>>>>>>> local
}

.logo{
    margin-left: 100px;
}

.navigation a{
    color: black;
    margin: 0 30px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover{
    color: orangered;
    transition: .4s;
}
